.footer {
  width:100%;
  background-color: #c14848;
  display:flex;
  border-top: 1px solid black;
  justify-content: center;
}


.for-flex {
  display:flex;
  flex-direction:column;
}

.show-page {
  display:flex;
  flex-direction:column;
}

h4 h1 {
  color:black;
}
